@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap');
@import './pages/index';
@import './utils/sidebar';
@import './utils/feed';
@import './utils/contacts';
@import './utils/mobilebar';
@import './utils/post-component';
@import './utils/profile-component';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Inter Tight', sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
  color: $black;
}

// button {
//   margin: 0;
//   padding: 0;
// }

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

.container-1280 {
  width: 95%;
  max-width: 1280px;
  margin: auto;
}

.spinner {
  position: relative;
  left: 50%;
  top: 50%;
  translate: -50%;
  display: inline-block;
  width: 80px;
  height: 80px;
}
.spinner:after {
  content: ' ';
  display: block;
  height: 64px;
  width: 64px;
  margin: 8px;
  border: 6px solid #000;
  border-radius: 50%;
  border-color: #000 transparent #000 transparent;
  animation: spinn 1.2s linear infinite;
}
@keyframes spinn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hoverAnimation {
  padding: 5px;
  border-radius: 50px;
  background: transparent;
  cursor: pointer;
}
.hoverAnimation:hover {
  background: $hoverAnimationColor;
}
