.main-container .feed-and-contacts-container {
  display: grid;
}
.sidebar {
  position: fixed;
  height: 100vh;
  width: 95%;
  transform: translateX(-200%);
  background: #def;
  transition: 0.3s;
  z-index: 1;
}
@media (min-width: 500px) {
  .sidebar {
    transform: translateX(0%);
    width: 5rem;
  }
}
@media (min-width: 768px) {
  .sidebar {
    width: 15rem;
  }
}
.show-sidebar {
  transition: 0.3s;
  transform: translateX(0%);
}

.feed {
  overflow-x: hidden;
}
.feed .all-posts {
  background: rgb(234, 159, 159);
}
.feed .all-posts .single-post-feed {
  cursor: pointer;
}
.feed .all-posts .single-post-feed p {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}
.feed .all-posts .single-post-feed .post-image-container .post-image {
  max-width: 100%;
}
.feed .all-posts .single-post-feed:hover {
  background: #fed;
}
.feed .load-more-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}
.feed .load-more-btn-container .load-more-btn {
  padding: 0.5rem 1rem;
}

.contacts {
  position: fixed;
  height: 100vh;
  width: 15rem;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #fed;
  transition: 0.3s;
  padding-bottom: 10rem;
}
.show-contacts {
  transition: 0.3s;
}

.mobilebar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: rgb(147, 53, 133);
  z-index: 2;
}
@media (min-width: 500px) {
  .mobilebar {
    display: none;
  }
}
.mobilebar .menu-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}
.mobilebar .menu-btn .line {
  height: 3px;
  width: 2rem;
  margin-bottom: 7px;
  background: #000000;
}

.home-component {
  position: fixed;
  width: 95%;
  background: white;
  height: 2.3rem;
  border-bottom: 1px solid black;
}
.home-component h4 p {
  display: inline;
  color: grey;
  font-style: italic;
}

.post-component .profile-img-text-input {
  display: flex;
  margin-top: 2.3rem;
}
.post-component .profile-img-text-input .profile-image {
  width: 70px;
  height: 70px;
}
.post-component .profile-img-text-input .post-form {
  width: 100%;
}
.post-component .profile-img-text-input .post-form .post-title-input {
  width: 100%;
  max-width: 400px;
  padding: 0.5rem;
  font-weight: bold;
}
.post-component .profile-img-text-input .post-form .post-textarea {
  width: 100%;
  max-width: 400px;
  max-height: 350px;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid black;
  padding: 0.5rem;
  resize: none;
}
.post-component .profile-img-text-input .post-form .post-textarea:focus {
  outline: none;
  border-bottom: 2px solid black;
}
.post-component .profile-img-text-input .post-form .post-textarea::-webkit-scrollbar {
  width: 3px;
  background: transparent;
}
.post-component .profile-img-text-input .post-form .post-textarea::-webkit-scrollbar-thumb {
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 100px;
}
.post-component .profile-img-text-input .post-form .display-image-container img {
  max-width: 400px;
}
.post-component .profile-img-text-input .post-form .add-items-and-submit-btn-contianer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
}
.post-component .profile-img-text-input .post-form .add-items-and-submit-btn-contianer .add-items-btns .custom-file-upload {
  cursor: pointer;
}
.post-component .profile-img-text-input .post-form .add-items-and-submit-btn-contianer .add-items-btns .custom-file-upload input[type=file] {
  display: none;
}
.post-component .profile-img-text-input .post-form .add-items-and-submit-btn-contianer .add-items-btns .custom-file-upload .fa-image {
  font-size: 1.5rem;
}
.profile-component {
  margin-top: 2.3rem;
  background: rgb(247, 170, 242);
}
.profile-component .banner {
  height: 10rem;
  background: #333 url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Altja_j%C3%B5gi_Lahemaal.jpg/1200px-Altja_j%C3%B5gi_Lahemaal.jpg") no-repeat center center/cover;
}
.profile-component .profile-image-edit-profile-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  translate: 0 -50%;
  padding: 0 1rem;
}
.profile-component .profile-image-edit-profile-btn-container .profile-image {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
}
.profile-component .profile-image-edit-profile-btn-container .edit-profile-btn {
  padding: 0.25rem;
  margin-bottom: 1rem;
}
.edit-profile-modal {
  display: none;
}

.show-edit-profile-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background: lightblue;
}
.show-edit-profile-modal .custom-file-upload {
  cursor: pointer;
}
.show-edit-profile-modal .custom-file-upload input[type=file] {
  display: none;
}
.show-edit-profile-modal .custom-file-upload .fa-image {
  font-size: 1.5rem;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

.container-1280 {
  width: 95%;
  max-width: 1280px;
  margin: auto;
}/*# sourceMappingURL=globals.css.map */