@import 'variables';

.contacts {
  position: fixed;
  // right: -110%;
  height: 100vh;
  width: 15rem;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #fed;
  transition: 0.3s;
  padding-bottom: 10rem;
  @media (min-width: $laptop-s) {
    // position: fixed;
    // right: 2.5%;
    // left: 97.5%;
    // right: 0%;
  }
}

.show-contacts {
  // width: 15rem;
  // position: fixed;
  // right: 2.5%;
  transition: 0.3s;
}
