@import 'variables';
.feed {
  // display: flex;
  // flex-direction: column;
  // flex: 1 1 0;
  overflow-x: hidden;
  .filter-and-search-posts {
    button {
      // color: red;
    }
  }
  .all-posts {
    background: rgb(234, 159, 159);
    // margin-bottom: 4rem;
    .single-post-feed {
      cursor: pointer;

      &:hover {
        background: #fed;
      }
      p {
        // white-space: 'word-wrap';
        // overflow-wrap: break-word;
        // word-wrap: break-word;
        hyphens: auto;
      }
      .post-author {
        &:hover {
          color: white;
        }
      }
      // .post-title {
      // }
      // .post-body {
      // }
      .post-image-container {
        // min-width: 200px;
        .post-image {
          // object-fit: contain;
          max-width: 100%;
          // max-height: 100%;
        }
      }
      .comment-component {
        .profile-img-text-input {
          display: flex;
          margin: 2.3rem 0;
          .profile-image {
            width: 50px;
            height: 50px;
            object-fit: cover;
          }
          .comment-form {
            width: 100%;
            .comment-textarea {
              width: 100%;
              max-width: 400px;
              max-height: 350px;
              font-size: 1rem;
              border: none;
              border-bottom: 1px solid black;
              padding: 0.5rem;
              resize: none;
              &:focus {
                outline: none;
                border-bottom: 2px solid black;
              }
              &::-webkit-scrollbar {
                width: 3px;
                background: transparent;
              }
              &::-webkit-scrollbar-thumb {
                width: 10px;
                height: 10px;
                background: black;
                border-radius: 100px;
              }
            }
            .display-image-container {
              img {
                max-width: 400px;
              }
            }
            .add-items-and-submit-btn-contianer {
              display: flex;
              justify-content: space-between;
              align-items: center;
              max-width: 400px;
              .add-items-btns {
                .custom-file-upload {
                  cursor: pointer;
                  input[type='file'] {
                    display: none;
                  }
                  .fa-image {
                    font-size: 1.5rem;
                  }
                }
              }

              .submit-comment-btn {
              }
            }
          }
        }
      }
      .list-of-comments {
        li {
          display: flex;
          .profile-image {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }
  .load-more-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    .load-more-btn {
      padding: 0.5rem 1rem;
      cursor: pointer;
      border: 1px solid #000;
    }
  }
}

//
//
//
//
//
//
// .react-comment-container {
//         display: flex;
//         align-items: center;
//         justify-content: space-around;
//         button {
//           border: none;
//           background: transparent;
//           cursor: pointer;
//         }
//         // react-btn
//         // comment-btn
//       }
//       .comment-form {
//         display: flex;
//         justify-content: space-between;
//         // align-items: center;
//         .profile-image {
//           width: 50px;
//           height: 50px;
//           object-fit: cover;
//         }
//         .comment-input {
//           width: 100%;
//         }
//         .submit-comment-btn {
//         }
//       }
