@import 'variables';
.feed {
  // overflow-x: hidden;
  .all-posts {
    // background: rgb(234, 159, 159);
    // background: $primary-color;
    padding: 1rem;
    .single-post-feed {
      display: flex;
      cursor: pointer;
      border: 1px solid $primary-color;
      background: $light-green;
      border-radius: 5px;
      margin-bottom: 1rem;
      padding: 0.5rem;
      &:hover {
        background: $background-color;
      }
      .profile-image {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 0.5rem;
      }
      .title-body-image {
        @media (min-width: $mobile-600) {
          margin-right: 2rem;
        }
        .post-author {
          color: $primary-color;
          margin-bottom: 0.5rem;
          &:hover {
            opacity: 0.7;
          }
        }
        .post-title {
          margin-bottom: 0.5rem;
        }
        .post-body {
          word-break: break-word;
          hyphens: auto;
          margin-bottom: 0.5rem;
        }
      }
      .post-image-container {
        .post-image {
          width: 100%;
        }
        margin-bottom: 0.5rem;
      }

      // POST
      .edit-delete-btn-container {
        margin-bottom: 0.5rem;
        button {
          border: none;
          background: transparent;
          font-size: 1rem;
          position: relative;
          &:hover {
            opacity: 0.8;
          }
        }
        .delete-post-btn {
          margin-right: 2rem;
          color: $danger;
          &::before {
            content: 'Delete';
            position: absolute;
            top: -25px;
            left: 20px;
            font-size: 1rem;
            background: $black;
            color: $white;
            padding: 0.2rem;
            visibility: hidden;
          }
          &:hover:before {
            visibility: visible;
          }
        }
        .edit-post-btn {
          color: $success;
          &::before {
            content: 'Edit';
            position: absolute;
            top: -25px;
            left: 20px;
            font-size: 1rem;
            background: $black;
            color: $white;
            padding: 0.2rem;
            visibility: hidden;
          }
          &:hover:before {
            visibility: visible;
          }
        }
      }
      // react
      .react-comment-container {
        button {
          position: relative;
          border: none;
          background: transparent;
          font-size: 1rem;
        }
        .react-btn {
          margin-right: 2rem;
          &::before {
            content: 'React';
            position: absolute;
            top: -25px;
            left: 20px;
            font-size: 1rem;
            background: $black;
            color: $white;
            padding: 0.2rem;
            visibility: hidden;
          }
          &:hover:before {
            visibility: visible;
          }
        }
        .comment-btn {
          &::before {
            content: 'Comment';
            position: absolute;
            top: -25px;
            left: 20px;
            font-size: 1rem;
            background: $black;
            color: $white;
            padding: 0.2rem;
            visibility: hidden;
          }
          &:hover:before {
            visibility: visible;
          }
        }
      }

      // COMMENTS!!!
      .comment-component {
        .profile-img-text-input {
          display: flex;
          margin: 2.3rem 0;
          .profile-image {
            width: 50px;
            height: 50px;
            object-fit: cover;
          }
          .comment-form {
            width: 100%;
            .comment-textarea {
              width: 100%;
              max-width: 400px;
              max-height: 350px;
              font-size: 1rem;
              border: none;
              border-bottom: 1px solid black;
              padding: 0.5rem;
              resize: none;
              &:focus {
                outline: none;
                border-bottom: 2px solid black;
              }
              &::-webkit-scrollbar {
                width: 3px;
                background: transparent;
              }
              &::-webkit-scrollbar-thumb {
                width: 10px;
                height: 10px;
                background: black;
                border-radius: 100px;
              }
            }
            .display-image-container {
              img {
                max-width: 400px;
              }
            }
            .add-items-and-submit-btn-contianer {
              display: flex;
              justify-content: space-between;
              align-items: center;
              max-width: 400px;
              .add-items-btns {
                .custom-file-upload {
                  cursor: pointer;
                  input[type='file'] {
                    display: none;
                  }
                  .fa-image {
                    font-size: 1.5rem;
                  }
                }
              }

              .submit-comment-btn {
              }
            }
          }
        }
      }
      .list-of-comments {
        li {
          display: flex;
          .profile-image {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }
  .load-more-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    .load-more-btn {
      padding: 0.5rem 1rem;
      cursor: pointer;
      border: 1px solid $black;
      color: $black;
      transition: 0.2s;
      &:hover {
        background: $primary-color;
        color: $white;
      }
    }
  }
}

//
//
//
//
//
//
// .react-comment-container {
//         display: flex;
//         align-items: center;
//         justify-content: space-around;
//         button {
//           border: none;
//           background: transparent;
//           cursor: pointer;
//         }
//         // react-btn
//         // comment-btn
//       }
//       .comment-form {
//         display: flex;
//         justify-content: space-between;
//         // align-items: center;
//         .profile-image {
//           width: 50px;
//           height: 50px;
//           object-fit: cover;
//         }
//         .comment-input {
//           width: 100%;
//         }
//         .submit-comment-btn {
//         }
//       }
