@import 'variables';
.mobilebar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: $primary-color;
  z-index: 2;
  @media (min-width: $mobile-500) {
    display: none;
  }
  .logo {
    font-size: 1.5rem;
  }
  .menu-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    .line {
      height: 2.5px;
      width: 30px;
      margin: 5px 0;
      background: $black;
    }
    // line-1
  }
  .contacts-btn {
    font-size: 1.3rem;
    border: none;
  }
}
