@import 'variables';

.home-component {
  position: fixed;
  width: 95%;
  background: white;
  height: 2.3rem;
  border-bottom: 1px solid black;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h4 {
    p {
      display: inline;
      color: grey;
      font-style: italic;
    }
  }
}

.post-component {
  margin-top: 2.3rem;
  .profile-img-text-input {
    display: flex;
    // margin-top: 2.3rem;
    .profile-image {
      width: 70px;
      height: 70px;
      object-fit: cover;
    }
    .post-form {
      width: 100%;
      .post-title-input {
        width: 100%;
        max-width: 400px;
        padding: 0.5rem;
        font-weight: bold;
      }
      .post-textarea {
        width: 100%;
        max-width: 400px;
        max-height: 350px;
        font-size: 1rem;
        border: none;
        border-bottom: 1px solid black;
        padding: 0.5rem;
        resize: none;
        &:focus {
          outline: none;
          border-bottom: 2px solid black;
        }
        &::-webkit-scrollbar {
          width: 3px;
          background: transparent;
        }
        &::-webkit-scrollbar-thumb {
          width: 10px;
          height: 10px;
          background: black;
          border-radius: 100px;
        }
      }
      .display-image-container {
        img {
          max-width: 400px;
        }
      }
      .add-items-and-submit-btn-contianer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 400px;
        .add-items-btns {
          .custom-file-upload {
            cursor: pointer;
            input[type='file'] {
              display: none;
            }
            .fa-image {
              font-size: 1.5rem;
            }
          }
        }

        .submit-post-btn {
        }
      }
    }
  }
}
