@import 'variables';

.home-component {
  position: fixed;
  width: 100%;
  background: $background-color;
  // height: 2.3rem;
  padding: 0 1rem;
  border-bottom: 1px solid $primary-color;
  box-shadow: $box-shadow-3;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h4 {
    font-size: 0.8rem;
    min-width: 120px;
    white-space: nowrap;
    @media (min-width: $mobile-500) {
      font-size: 1rem;
      min-width: 130px;
    }
    span {
      display: inline;
      color: $grey;
      font-style: italic;
      font-size: 0.7rem;
      // @media (min-width: $mobile-500) {
      //   font-size: 0.7rem;
      // }
    }
  }
  .search-form-posts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    .search-posts-input {
      padding: 0.6rem 0.2rem;
      font-size: 1rem;
      width: 100%;
      border: none;
      &:focus {
        outline: none;
      }
    }
    .search-btn {
      background: $primary-color;
      border: none;
      padding: 0.7rem;
      border: 2px solid transparent;
      color: $white;
      &:hover {
        background: $white;
        border: 2px solid $primary-color;
        color: $primary-color;
      }
    }
  }
}

// post component
.post-component {
  margin-top: 3.3rem;
  padding: 1rem;

  .profile-img-text-input {
    display: flex;
    // margin-top: 2.3rem;
    // display: grid;
    // grid-template-columns: 24.5% 75.5%;
    .profile-image {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 20px;
      border: 2px solid $primary-color;
      box-shadow: $box-shadow-2;
      @media (min-width: $mobile-500) {
        margin-right: 30px;
      }
    }
    .post-form {
      flex: 1 1 0;
      .post-title-input {
        width: 100%;
        max-width: 200px;
        padding: 0.5rem;
        font-weight: bold;
        border: none;
        border-bottom: 1px solid $black;
        background: $background-color;

        &:focus {
          outline: none;
          border-bottom: 2px solid $black;
        }
      }
      .post-textarea {
        width: 100%;
        // max-width: 400px;
        max-height: 350px;
        font-size: 1rem;
        border: none;
        border-bottom: 1px solid $black;
        padding: 0.5rem;
        margin-bottom: 1rem;
        resize: none;
        background: $background-color;
        &:focus {
          outline: none;
          border-bottom: 2px solid $black;
        }
        &::-webkit-scrollbar {
          width: 3px;
          background: transparent;
        }
        &::-webkit-scrollbar-thumb {
          width: 10px;
          height: 10px;
          background: $black;
          border-radius: 100px;
        }
      }
      .display-image-container {
        img {
          max-width: 400px;
        }
      }
      .add-items-and-submit-btn-contianer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // max-width: 400px;
        .add-items-btns {
          width: 100%;
          .upload-img-input {
            width: 70%;
            border: 1.5px dotted $black;
            height: 50px;
            background: transparent;
            min-width: 50px;
          }
          .fa-image {
            font-size: 1.5rem;
          }
        }

        .submit-post-btn {
          border: 2px solid $primary-color;
          padding: 1rem;
          font-size: 1rem;
          border-radius: 5px;
          background: $primary-color;
          color: $white;
          transition: 0.2s;
          box-shadow: $box-shadow-1;
          &:hover {
            background: $white;
            color: $primary-color;
          }
        }
      }
    }
  }
}
