@import 'variables';

.profile-component {
  margin-top: 2.3rem;
  background: #d49a89;
  .banner {
    height: 10rem;
    background: #333
      url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Altja_j%C3%B5gi_Lahemaal.jpg/1200px-Altja_j%C3%B5gi_Lahemaal.jpg')
      no-repeat center center/cover;
  }

  .profile-image-edit-follow-btns {
    display: flex;
    // justify-content: space-between;
    align-items: flex-end;
    translate: 0 -50%;
    padding: 0 1rem;
    .profile-image {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid white;
    }
    .follow-statistics-contianer {
      display: flex;
      // justify-content: space-between;
      flex-direction: column;
      align-items: flex-start;
      // margin-top: 10rem;
      translate: 0 1rem;
      @media (min-width: $mobile-m) {
        translate: 0 -1rem;
        flex-direction: row;
      }
      // width: 50%;
      // max-width: 400px;
      .stat-btn {
        background: transparent;
        border: none;
        color: $white;
        margin-right: 0.7rem;
        font-size: 1rem;
        font-family: 'Inter Tight', sans-serif;
        // font-family: 'Domine', serif;
        strong {
          font-size: 1rem;
          margin-right: 0.2rem;
        }
      }
      .post-count {
        transition: 0.3s;
        &:hover {
          color: $black;
        }
      }
    }
  }

  .name-and-edit-profile {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    .username {
      margin-left: 0.5rem;
      font-size: 2rem;
      letter-spacing: 2px;
    }
    .edit-profile-btn {
      padding: 0.25rem;
      margin-bottom: 1rem;
      background: $banner-background;
      border: none;
      padding: 0.5rem;
      color: $white;
      border-radius: 5px;
      border: 2px solid transparent;
      transition: 0.2s;
      &:hover {
        border: 2px solid $third-color;

        color: $white;
      }
    }
  }

  // .follow-statistics-contianer {
  // }
  // .post-count {
  // }
  // .following {
  // }
  // .followers {
  // }
}
.edit-profile-modal {
  display: none;
}

.show-edit-profile-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  // width: 95%;
  // height: 50%;
  translate: -50% -50%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background: lightblue;
  label {
  }
  .custom-file-upload {
    cursor: pointer;
    input[type='file'] {
      display: none;
    }
    .fa-image {
      font-size: 1.5rem;
    }
  }
  .uploaded-banner {
  }
}

// #new-banner {
// }
