@import 'variables';

.profile-component {
  margin-top: 2.3rem;
  background: rgb(247, 170, 242);
  .banner {
    height: 10rem;
    background: #333
      url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Altja_j%C3%B5gi_Lahemaal.jpg/1200px-Altja_j%C3%B5gi_Lahemaal.jpg')
      no-repeat center center/cover;
  }
  .profile-image-edit-profile-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    translate: 0 -50%;
    padding: 0 1rem;
    .profile-image {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid white;
    }
    .edit-profile-btn {
      padding: 0.25rem;
      margin-bottom: 1rem;
    }
  }
  .username {
  }

  .follow-statistics-contianer {
    button {
      strong {
      }
    }
  }

  // .follow-statistics-contianer {
  // }
  // .post-count {
  // }
  // .following {
  // }
  // .followers {
  // }
}
.edit-profile-modal {
  display: none;
}

.show-edit-profile-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  // width: 95%;
  // height: 50%;
  translate: -50% -50%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background: lightblue;
  label {
  }
  .custom-file-upload {
    cursor: pointer;
    input[type='file'] {
      display: none;
    }
    .fa-image {
      font-size: 1.5rem;
    }
  }
  .uploaded-banner {
  }
}

// #new-banner {
// }
