@import 'variables';

.sidebar {
  position: fixed;
  height: 100vh;
  width: 95%;
  transform: translateX(-200%);
  background: $white;
  transition: 0.3s;
  z-index: 2;
  @media (min-width: $mobile-500) {
    transform: translateX(0%);
    width: 5rem;
  }
  @media (min-width: $tablet) {
    width: 15rem;
  }
  .logo {
    font-size: 2rem;
    // padding: 0.5rem 1rem;
  }
  .list-of-links {
    li {
      font-size: 1.3rem;
      padding: 0.3rem 0;
      a {
        i {
        }
        span {
          margin-left: 1.3rem;
        }
      }
      button {
        font-size: 1.3rem;
        border: none;
        // background: transparent;
        i {
        }
        span {
          margin-left: 1rem;
        }
      }
      // .hoverAnimation {
      //   padding: 5px;
      //   border-radius: 50px;
      //   background: transparent;
      //   cursor: pointer;
      // }
      // .hoverAnimation:hover {
      //   background: $hoverAnimationColor;
      // }
    }
  }
}

.show-sidebar {
  transition: 0.3s;
  transform: translateX(0%);
}
