$primary-color: #557571;
$secondary-color: #4973b1;
$third-color: #f7d1ba;
$background-color: #f4f4f4;
$light-green: #ebeded;
$danger: #eb6262;
$success: #1b6d09;
$orange: #e6610f;
$banner-background: #d49a89;
$grey: rgb(118, 118, 118);
$light-grey: rgb(195, 195, 195);
$hoverAnimationColor: rgb(197, 197, 197);
$black: #000000;
$white: #ffffff;
$mobile-s: '320px';
$mobile-m: '375px';
$mobile-l: '425px';
$mobile-500: '500px';
$mobile-600: '600px';
$tablet: '768px';
$laptop-s: '1024px';
$laptop-m: '1280px';
$laptop-l: '1440px';
