$primary-color: #b14984;
$secondary-color: #4973b1;
$black: #000000;
$white: #ffffff;
$mobile-s: '320px';
$mobile-m: '375px';
$mobile-l: '425px';
$mobile-500: '500px';
$tablet: '768px';
$laptop-s: '1024px';
$laptop-m: '1280px';
$laptop-l: '1440px';
