$primary-color: #557571;
$secondary-color: #4973b1;
$blue-color: #4973b1;
$third-color: #f7d1ba;
$background-color: #f4f4f4;
$light-green: #ebeded;
$danger: #eb6262;
$success: #1b6d09;
$orange: #ad0fe6;
$banner-background: #d49a89;
$grey: rgb(118, 118, 118);
$light-grey: rgb(195, 195, 195);
$hoverAnimationColor: rgb(197, 197, 197);
$box-shadow-1: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$box-shadow-2: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$box-shadow-3: rgba(0, 0, 0, 0.24) 0px 3px 8px;
// $box-shadow-1: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$black: #000000;
$white: #ffffff;
$mobile-s: '320px';
$mobile-m: '375px';
$mobile-l: '425px';
$mobile-500: '500px';
$mobile-600: '600px';
$tablet: '768px';
$laptop-s: '1024px';
$laptop-m: '1280px';
$laptop-l: '1440px';
